/*
	Author: 22920212204392黄勖
	Description: 问卷css
	Email: maoliloveyou@foxmail.com
*/
body {
	background-color: #CCCCCC;;
}
#questionnaire {
	background-color: white;
	padding:15px;
	margin: auto;
	width: 900px;
	text-align: center;
	font-family: "微软雅黑";
	box-shadow: 10px 10px 15px black;
}
h1 {
	color: orange;
}
hr {
	width: 80%;
	border: orange 1px solid;
	margin-bottom: 15px;
}
form {
	text-align: left;
	width: 80%;
	margin: auto;
}
li {
	margin: 10px 0;
}
input {
	margin: 10px;
}
input[type="text"],input[type="tel"] {
	width: 130px;
	height: 20px;
	font-size: 16px;
	font-family: "微软雅黑";
	border: 0px;
	border-bottom: 1px solid;
	outline: none;
}
input[type="radio"]:checked {
    background-color: orange;
}

#btn {
	text-align: center;
}
button {
	width: 120px;
	height: 40px;
	background-color: orange;
	border: 0px;
	color: white;
	margin: 10px;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: bold;
}
button:hover {
	background-color: #FF6835;
}
